# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [212]:
id1 = "207045816"

In [213]:
df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [214]:
#df = pd.DataFrame([id1,id2])

In [215]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

Shir Margolin

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1


קישור הקובץ

In [216]:
import pandas as pd
url='https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df=pd.read_csv(url)

נהפוך תאריך לשדה מסוג תאריך

In [217]:
vacc_df['date']= pd.to_datetime(vacc_df.date)

ניצור עמודה חדשה שמכילה חודש

In [218]:
vacc_df['month'] = pd.DatetimeIndex(vacc_df['date']).month

ניצור קובץ חדש שמכיל רק את החודש 6
(עותק ולא השמה)

In [219]:
vacc_df_6= vacc_df[vacc_df['month'] ==6].copy()

שינוי שם העמודה מחודש ל-החודש שלי

In [220]:
vacc_df_6.rename(columns={"month" : "my_month"})

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,my_month
99,Afghanistan,AFG,2021-06-01,NaN,NaN,NaN,NaN,NaN,5102.0,NaN,NaN,NaN,NaN,131.0,6
100,Afghanistan,AFG,2021-06-02,626290.0,481690.0,144600.0,NaN,NaN,5119.0,1.61,1.24,0.37,NaN,131.0,6
101,Afghanistan,AFG,2021-06-03,630305.0,481800.0,148505.0,NaN,4015.0,5285.0,1.62,1.24,0.38,NaN,136.0,6
102,Afghanistan,AFG,2021-06-04,NaN,NaN,NaN,NaN,NaN,5273.0,NaN,NaN,NaN,NaN,135.0,6
103,Afghanistan,AFG,2021-06-05,NaN,NaN,NaN,NaN,NaN,5261.0,NaN,NaN,NaN,NaN,135.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40282,Zimbabwe,ZWE,2021-06-26,1249486.0,747328.0,502158.0,NaN,27591.0,16169.0,8.41,5.03,3.38,NaN,1088.0,6
40283,Zimbabwe,ZWE,2021-06-27,1275237.0,756289.0,518948.0,NaN,25751.0,19504.0,8.58,5.09,3.49,NaN,1312.0,6
40284,Zimbabwe,ZWE,2021-06-28,1299132.0,764246.0,534886.0,NaN,23895.0,22615.0,8.74,5.14,3.60,NaN,1522.0,6
40285,Zimbabwe,ZWE,2021-06-29,1315575.0,770707.0,544868.0,NaN,16443.0,24174.0,8.85,5.19,3.67,NaN,1626.0,6
40286,Zimbabwe,ZWE,2021-06-30,1332416.0,777159.0,555257.0,NaN,16841.0,23656.0,8.96,5.23,3.74,NaN,1592.0,6

ספירת מס השורות בעזרת LEN

In [221]:
len(vacc_df_6)

6756

 # Q2

לא היה רשום לטפל בעותק שמכיל רק את "החודש שלי", אז אצור עוד עותק של נתונים מתוקנים

# טיפול בערכים חסרים מהשדה- חיסונים יומיים 
החלטתי לטופל בצורת הכנסת ערך 0 בכל ערך חסר בעמודה.
בגלל שהגיוני שלא בכל יום מתחסנים ומחסנים במדינות מסויימות, בגלל ימי חג, חופש,מחסור בחיסונים וכ"ו
וסביר להסיק שבשביל לזרז את עבודת הדיווח, בימים אלו לא מילאו את העמודה המדוברת

In [222]:
vacc_df_fixed=vacc_df.copy()
vacc_df_fixed['daily_vaccinations'].fillna(0 , inplace = True)

# טיפול בערכים חסרים מהשדה- מחוסנים ל100
החלטתי לטופל בצורת הכנסת הערך הקודם לכל ערך חסר בעמודה.
בגלל שלא הגיוני שהיו מחוסנים לפני ולא יום אחרי(ערך מצטבר), ולכן רוב הסיכויים ששחכו להכניס ערכים, או שהחליטו להכניס אותם רק כשהיה שינוי משמעותי

In [223]:
vacc_df_fixed['people_vaccinated_per_hundred'].fillna(inplace = True,method='ffill')
vacc_df_fixed

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,month
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.00,0.00,NaN,NaN,NaN,2
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,0.00,NaN,NaN,35.0,2
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,0.00,NaN,NaN,35.0,2
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,0.00,NaN,NaN,35.0,2
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,0.00,NaN,NaN,35.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40325,Zimbabwe,ZWE,2021-08-08,2886551.0,1863913.0,1022638.0,NaN,33154.0,61908.0,19.42,12.54,6.88,NaN,4165.0,8
40326,Zimbabwe,ZWE,2021-08-09,2941508.0,1897123.0,1044385.0,NaN,54957.0,66884.0,19.79,12.76,7.03,NaN,4500.0,8
40327,Zimbabwe,ZWE,2021-08-10,NaN,NaN,NaN,NaN,NaN,53633.0,NaN,12.76,NaN,NaN,3609.0,8
40328,Zimbabwe,ZWE,2021-08-11,3017341.0,1932929.0,1084412.0,NaN,NaN,59050.0,20.30,13.01,7.30,NaN,3973.0,8
40329,Zimbabwe,ZWE,2021-08-12,3193256.0,2013049.0,1180207.0,NaN,175915.0,58465.0,21.48,13.54,7.94,NaN,3934.0,8

# Q3

הסתכלתי בטבלה וראיתי שמיקום שמכיל את הצירוף
OWID  
iso_code -ב 
הוא לא מדינה, ולכן נכין עותק חדש, שמכיל רק מדינות

In [224]:
vacc_df_6_countries=vacc_df_6[vacc_df_6['iso_code'].str.contains(pat='OWID')==False].copy()

נמצא את הערך מקסימלי בעמודה: חיסונים יומיים(השמה)

In [225]:
max_daily_vaccinations=vacc_df_6_countries['daily_vaccinations'].max()

נציג את שם המדינה והתאריך של אותה עמודה

In [226]:
vacc_df_6_countries.loc[vacc_df_6_countries['daily_vaccinations']==max_daily_vaccinations,['location','date']]

     location       date
7407    China 2021-06-28

# Q4

כמו שביקשו בשאלה, נשתמש בעותק שמכיל רק את החודש שלי

נכין 2 ערכים של ממוצע וחציון מהעמודה חיסונים יומיים ונאכלס אותם במשתנים(השמה)

In [227]:
daily_vaccinations_mean=vacc_df_6['daily_vaccinations'].mean()
daily_vaccinations_median=vacc_df_6['daily_vaccinations'].median()
print('median= '+ str(daily_vaccinations_median) + ' , mean= '+ str(daily_vaccinations_mean))

median= 9635.0 , mean= 687009.2106978812

הממוצע גדול מהחציון, כנראה בגלל שקיימים הרבה קצוות של ערכים ריקים, או ששווים 0, שמשפיעים על הערך האמצעי

# Q5

 נכין את עותק של טבלת הנתונים של החודש שלי, כך שהיא תכיל רק דיווחים ממדינת ישראל

In [232]:
vacc_df_6_ISR =vacc_df_6[vacc_df_6['location'] == 'Israel'].copy()

נשנה את סוג העמודה של התאריך לתאריך

In [233]:
vacc_df_6_ISR['date']= pd.to_datetime(vacc_df_6_ISR.date)

נוסיף עמודה שמראה את היום

In [234]:
vacc_df_6_ISR['day'] =pd.DatetimeIndex(vacc_df_6_ISR['date']).day

נעשה ממוצע: כשנתייחס רק לשורות בהם היום מ1 עד 7, ולעמודה מתחסנים למאה איש

In [235]:
vaccinated_per_hundred_mean= vacc_df_6_ISR.loc[(vacc_df_6_ISR['day'] <= 7) & (vacc_df_6_ISR['day'] >= 1),'people_vaccinated_per_hundred'].mean()
vaccinated_per_hundred_mean

63.065714285714286

# Q6

כמו שביקשו בשאלה, נשתמש בעותק שמכיל רק את החודש שלי, ורק מדינות
נחשב 3 ערכי מקסימום, בחיסונים למאה איש

In [210]:
vacc_df_6_countries['people_vaccinated_per_hundred'].nlargest(3)

14060    116.46
14055    116.38
14052    116.27
Name: people_vaccinated_per_hundred, dtype: float64

נכין רשימה עם כל ערכי המקסימום

In [236]:
max_list = [116.46,116.38,116.27]

נציג רק שורות שהערך שלהם בחיסונים למאה איש, קיים ברשימה, ורק את העמודות: מיקום, חודש , ומתחסנים למאה

In [240]:
vacc_df_6_countries.loc[vacc_df_6_countries['people_vaccinated_per_hundred'].isin(max_list)           
,['location','month','people_vaccinated_per_hundred']]

        location  month  people_vaccinated_per_hundred
14052  Gibraltar      6                         116.27
14055  Gibraltar      6                         116.38
14060  Gibraltar      6                         116.46

# Q7

---
# GOOD LUCK !!!!
---

In [ ]:
# do not type below this line